{% extends 'layout-full-width.html.twig' %}

{% block title %}
	Mon-Site | Accueil
{% endblock %}
	
{% block contentFullWidth %}
<div class="call_to_action">
    <h1>Manga café Haruki</h1>
    
    <p>Plongez dans l'univers captivant des mangas tout en sirotant votre boisson préférée.
    Rejoignez Haruki et découvrez une expérience de lecture unique en son genre !</p>

    <button class="btn btn-ilyes">Inscrivez vous</button>
    
</div>
{% endblock %}
