{% extends 'layout-full-width.html.twig' %}

{% block title %}Confirmez votre email
{% endblock %}

{% block contentFullWidth %}

	<div class="container text-center mt-4 mb-4">
	<div class="m-3 p-1 border border-primary d-flex flex-column justify-content-center align-items-center">
		<strong class ="mb-2">Un email de confirmation vous à été envoyé...</strong>
		<p>Vous pouvez dès à présent poursuivre votre navigation ! </p>
		<p>Toutefois pour verifier votre compte, n'oubliez pas de valider votre email. </p>
		<p>Toute l'équpe Haruki vous souhaite une bonne navigation ! 😊</p>
	</div>

	<div class="container">
		<a href="{{ path('app_home') }}" class="btn btn-primary m-4">Retour à la page d'accueil</a>
	</div>
</div>
{% endblock %}
