{% extends 'layout-full-width.html.twig' %}

{% block contentFullWidth %}

<a href="{{ path('app_member_deleteList', { id: liste.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette liste de lecture ?')">Supprimer</a>

{% endblock %}