{% extends 'layout-full-width.html.twig' %}


{% block contentFullWidth %}
<div class="member-page-container">
	<div class="general-setting">
		<ul>

			<li><a href="#"></a>Mon abonnement</li>
			<li><a href="#"></a>Changer l'adresse email</li>
			<li><a href="#"></a>Changer le mot de passe</li>
		</ul>
	</div>

	<div class="affichageSetting"></div>
</div>	
{% endblock %}
