{% extends 'layout-full-width.html.twig' %}

{% block contentFullWidth %}

  <div class="d-flex justify-content-center mt-4">
    <h3>Créez une nouvelle liste de lecture:</h3>
  </div>
  
  <div>
    {{form(form)}}
  </div>
  
{% endblock %} 