
<section class="col-12 row-5">
    <div class=" book-list row d-flex justify-content-around flex-wrap">
    {{{% for item in items %}
        <div class="card col-2 p-1 m-1"><h1>azertyuiop</h1><img src="{{ asset('assets/img/test_logo.jpg') }}" alt="logo-haruki" /><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro doloremque nostrum.</p></div>
    {% endfor %}}}         
    </div>
</section>


