
<section class="col-12 row-5">
    <div class="book-list row justify-content-center">

        {% for serie in series %}
    
            <div class="container zoom d-flex justify-content-center">
                <div class="bookCard">
                    <a class="card" href="{{path('app_detail_serie', {id:serie.id})}}"> {# Ici j'appelle la page de détail de la série qui affiche les entité manga#}
                        <img style="" src="{{ asset('assets/img/uploaded/' ~ serie.coverSerie()) }}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ serie.nomSerie }}</h5>
                            <p class="card-text">{{ serie.nbDeTomes }} tomes</p> 
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</section>



