.custom-img-height {
    height: 300px; /* Ajustez la hauteur souhaitée en pixels */
    object-fit: cover;
  }
  
  .espacement {
    width: 100%;
    height: 20px;
  }

  .home-section {
    border-radius: 8px;
    margin-top: 10px;
  }