/* .bookCard h1 {
    font-size: 20px;
} */

.bookCard .card {
    width: 210px;
    height: 420px;
    background-color: rgb(253, 209, 216) ;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.bookCard img {
    width: 190px; ;
    height: 270px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 10px;
}

.card {
    text-decoration: none;
    color: black;
}


/* ___________________________________________ */
/* Permet de gerer le zoom sur les cards série avec la classe zoom */
.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
