// Importez les fichiers SCSS nécessaires
@import "components/global";
@import "components/footer";
@import "components/navbar";
@import "components/serieListe";
@import "components/favoris-list";
@import "components/membreProfil";
@import "components/pagination";
@import "components/liste-de-lecture";
@import "components/homePage";
@import "components/manga-list";
@import "components/easy-admin";
@import "components/symfony-form";
@import "components/error-page";

// Définissez vos variables personnalisées
$theme-colors: (
  "primary": pink,
  "danger": red,
  "light": rgb(228, 206, 210),
);

// Importez le reste de Bootstrap pour appliquer les styles
@import "~bootstrap/scss/bootstrap";

// Modifiez les variables spécifiques aux boutons Bootstrap
$btn-primary-color: black; // Couleur du texte du bouton (noir)
$btn-primary-bg: white; // Couleur de fond du bouton (blanc)
$btn-primary-hover-bg: gray; // Couleur de fond du bouton lors du survol (gris)
$btn-primary-active-bg: lightgray; // Couleur de fond du bouton lors du clic (gris clair)

// Styles personnalisés pour votre bouton
.my-custom-button {
  // Appliquez les classes Bootstrap nécessaires
  @extend .btn;
  @extend .btn-outline-light;

  // Vos styles personnalisés ici (le cas échéant)
}

// Importez le reste de Bootstrap pour appliquer les styles
@import "~bootstrap/scss/bootstrap";
