
{% extends 'layout-full-width.html.twig' %}

{% block title %}Confirmation{% endblock %}


{% block body %}

  <div>

    <div class="mt-5 p-5 border border-primary d-flex flex-column justify-content-center align-items-center">



      <h5>Merci de votre confiance.</h5>

      <h5>montant réglé:

        {{ orderTotal }}€</h5>

      <a class="btn btn-outline-primary mt-3" href="{{ path('app_home') }}">Retour sur le site</a>

    </div>

  </div>

{% endblock %}