{% extends 'layout-full-width.html.twig' %}

{% block title %}
	Mon-Site | CGU
{% endblock %}

{% block body %}

<a href="{{ path('app_home') }}" class="btn btn-primary m-4">Retour</a>
<div class="container">
    <h1 class="m-4">Conditions Générales d'Utilisation "CGU" du site web Haruki Concept Store</h1>
    
    <div class="container m-4">
        <h3> Introduction</h3>
        <hr>
        <p>
            Les présentes Conditions Générales d'Utilisation "CGU" régissent l'utilisation du site web Haruki Concept Store (ci-après dénommé "le site"). En accédant et en utilisant le site, vous acceptez pleinement et sans réserve les présentes CGU.
        </p>
    </div>

    <div class="container m-4">
        <h3>Propriété intellectuelle</h3>
        <hr>
        <p>
            Tous les contenus présents sur le site, tels que les textes, les images, les logos, les vidéos, les graphiques et les marques de commerce, sont protégés par des droits de propriété intellectuelle et sont la propriété exclusive de Haruki Concept Store, sauf indication contraire. Toute utilisation non autorisée de ces contenus est strictement interdite.
        </p>
    </div>

    <div class="container m-4">
        <h3>Utilisation du site</h3>
        <hr>
        <p>a. Vous acceptez d'utiliser le site uniquement à des fins légales et conformément aux présentes CGU.</p>
        <p>b. Vous êtes responsable de la confidentialité de vos identifiants de connexion, le cas échéant, et de toutes les activités qui se déroulent sous votre compte.</p>
        <p>c. Vous vous engagez à ne pas perturber ou endommager le fonctionnement du site, y compris par l'envoi de virus, de spams ou de tout autre contenu malveillant.</p> 
            
            
       
    </div>

    <div class="container m-4">
        <h3>Liens vers des sites tiers</h3>
        <hr>
        <p>
            Le site peut contenir des liens vers des sites web tiers. Ces liens sont fournis uniquement pour votre commodité, et Haruki Concept Store n'exerce aucun contrôle sur ces sites tiers. Nous ne sommes pas responsables de leur contenu ou de leur fonctionnement. L'accès à ces sites se fait à vos propres risques.
        </p>
    </div>
    
    <div class="container m-4">
        <h3>Limitation de responsabilité</h3>
        <hr>
        <p> a. Haruki Concept Store s'efforce de fournir des informations précises et à jour sur le site, mais ne garantit pas l'exactitude, l'exhaustivité ou la fiabilité de ces informations.</p>
        <p>b. Dans les limites autorisées par la loi, Haruki Concept Store ne sera pas responsable des dommages directs, indirects, spéciaux, accessoires ou consécutifs découlant de l'utilisation ou de l'impossibilité d'utiliser le site.
        </p>
            
    </div>

    <div class="container m-4">
        <h3>Modification des CGU</h3>
        <hr>
        <p>
            Haruki Concept Store se réserve le droit de modifier, à tout moment, les présentes CGU. Les modifications entrent en vigueur dès leur publication sur le site. Il est de votre responsabilité de consulter régulièrement les CGU pour prendre connaissance des éventuelles modifications.
        </p>
    </div>
    
    <div class="container m-4">
        <h3>Dispositions générales</h3>
        <hr>
        <p>a. Si une disposition des présentes CGU est jugée invalide ou inapplicable par un tribunal compétent, les autres dispositions restent pleinement en vigueur.</p>
        <p>b. Les présentes CGU sont régies par les lois 'Informatique et Libertés' .</p>   
        <p>c. En cas de litige, vous acceptez de soumettre toute réclamation ou tout différend découlant de l'utilisation du site à la juridiction exclusive des tribunaux.</p>  
        <p>d. Les présentes CGU constituent l'intégralité de l'accord entre vous et Haruki Concept Store concernant l'utilisation du site et remplacent tous les accords antérieurs ou contemporains.</p>   
            
        
    </div>
</div>

{% endblock %}