{% extends 'layout-full-width.html.twig' %}

{% block title %}
	Mon-Site | CGU
{% endblock %}

{% block body %}



<div class="container">
    <h1>Appel aux dons pour l'ouverture de notre Manga Café</h1>

        <p>Nous avons un projet passionnant : ouvrir notre propre Manga Café, un lieu chaleureux où les passionnés de mangas pourront se retrouver, se détendre et partager leur amour pour cet art japonais unique.</p>

        <div class="donation-section">
            <h2>Comment vous pouvez nous aider :</h2>
            <p>Le coût de l'ouverture et du fonctionnement initial d'un Manga Café est élevé. Nous faisons donc appel à votre générosité pour nous aider à réaliser ce rêve. Chaque don, peu importe le montant, compte énormément pour nous.</p>
            <p>Si vous partagez notre passion pour les mangas et souhaitez contribuer à la création d'un espace où les fans pourront se rassembler et vivre des moments mémorables, nous vous invitons à faire un don :</p>
            <a href="{{ path('app_stripe') }}" class="btn btn-primary m-4">Faire un don</a>
        </div>

        <p>Nous sommes reconnaissants envers tous ceux qui soutiendront notre projet. Votre aide nous permettra de concrétiser notre vision et de créer un Manga Café exceptionnel pour la communauté.</p>

        <p>Merci d'avance pour votre générosité et pour votre soutien continu. Nous avons hâte de vous accueillir dans notre Manga Café !</p>
</div>

<a href="{{ path('app_home') }}" class="btn btn-primary m-4">Retour</a>
{% endblock %}