{% extends 'layout-full-width.html.twig' %}

{% block title %}
	Mon-Site | Privacy policy
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="m-4">Politique de confidentialité</h1>
    <div class="container">
        <p>Dernière mise à jour : le 05/06/2023 à 16h44</p>
        <p>
            Nous accordons une grande importance à la confidentialité de nos utilisateurs. Cette politique de confidentialité explique comment nous collectons, utilisons, divulguons et protégeons les informations personnelles que vous nous fournissez lorsque vous utilisez notre site web Haruki Concept Store (ci-après dénommé "le site").
        </p>
    </div>
    
    <div class="container m-4">
        <h3>Informations collectées</h3>
        <hr>
        <p>
            a. Informations personnelles : Lorsque vous créez un compte, effectuez une réservation, ou utilisez certaines fonctionnalités du site, nous pouvons vous demander de fournir des informations personnelles telles que votre nom, votre adresse e-mail, votre numéro de téléphone, etc.
        </p>
        <p>b. Informations de navigation : Nous collectons automatiquement certaines informations lors de votre visite sur le site, telles que votre adresse IP, le type de navigateur que vous utilisez, les pages que vous consultez et les liens sur lesquels vous cliquez.</p>
            
        
    </div>


    <div class="container m-4">
        <h3>Utilisation des informations</h3>
        <hr>
        <p> a. Nous utilisons les informations collectées pour vous fournir les services demandés, gérer votre compte, traiter vos réservations, vous envoyer des notifications et améliorer votre expérience sur le site.</p>
       <p>b. Nous pouvons également utiliser les informations pour vous contacter concernant des offres promotionnelles, des mises à jour du site ou d'autres communications marketing. Vous pouvez choisir de ne plus recevoir ces communications en suivant les instructions de désinscription fournies dans les e-mails.
        </p>    

            
    </div>

    <div class="container m-4">
        <h3>Divulgation des informations</h3>
        <hr>
        <p> a. Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers, sauf avec votre consentement ou dans les circonstances prévues par la loi.</p>
         <p>b. Nous pouvons partager vos informations avec des prestataires de services tiers qui nous aident à exploiter le site et à fournir les services demandés, tels que les services d'hébergement, de paiement en ligne, etc. Ces tiers sont tenus de protéger vos informations et de les utiliser uniquement aux fins convenues.</p>  

            
        
    </div>

    <div class="container m-4">
        <h3>Protection des informations</h3>
        <hr>
        <p>a. Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations contre tout accès, divulgation, altération ou destruction non autorisés.</p>
            
        <p>b. Cependant, veuillez noter que la transmission de données sur Internet n'est pas totalement sécurisée. Nous ne pouvons garantir la sécurité absolue de vos informations.</p>
            
        
    </div>
    
    <div class="container m-4">
        <h3>Vos droits</h3>
        <hr>
        <p>
            Vous avez le droit d'accéder, de rectifier, de supprimer ou de limiter l'utilisation de vos informations personnelles. Vous pouvez également exercer votre droit à la portabilité des données. Veuillez nous contacter pour toute demande concernant vos droits.

        </p>
    </div>
    
    <div class="container m-4">
        <h3>Modifications de la politique de confidentialité</h3>
        <hr>
        <p>
            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications prendront effet dès leur publication sur le site. Il est de votre responsabilité de consulter régulièrement cette politique de confidentialité pour prendre connaissance des éventuelles modifications.
        </p>
    </div>





    
    

    
    

    

   

    
    
    
    

{% endblock %}