{% extends 'base.html.twig' %}

{% block title %}
	Haruki-concept | Articles
{% endblock %}


{% block body %}
<div class="first-title bg-primary text-dark py-5">
	<div class="container">
    	<h3>Nos articles :</h3>
        <p>Vous pouvez trouver ici, tout les articles publiées par l'équipe Haruki ! Bonne lecture 😊</p>
	</div>
</div>

<section class="articles py-5">
    <div class="container">
        <div class="row align-items-stretch">
            {% for article in articles %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src={{ asset('assets/img/article/' ~ article.image()) }} alt="Article" class="card-img-top custom-img-height">
                    <div class="card-body">
                        <h5 class="card-title truncate-title">{{ article.titre }}</h5>
                        <div class="text-center"><a href="{{ path('app_article_details', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}