 {% extends 'base.html.twig' %}

{% block title %}Mon compte-modification du mot de passe| Haruki{% endblock %}

{% block body %}

    

    <div class="container">
        <h1 class ='m-4'>Modification du mot de passe</h1>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{  message }}
        </div>
    {% endfor %}
    
    <div class="container">
        {{form(form)}}
    </div>

{% endblock %}
