{% extends 'base.html.twig' %}

{% block body %}

<div class="first-title bg-primary text-dark py-5">
	<div class="container">
    	<h3>Gérez votre compte</h3>
	</div>
</div>
    
    <div class="member-page-container">
        <div class="general-setting">
            <ul>
                <li>
                    <div class="container p-4 border border-primary rounded-lg">
                        <a href="{{ path('forgotten_password') }}" class="btn btn-primary">Mot de passe oublié</a>
                        <p class="mt-4"> En cas d'oublie, Vous pouvez réinitialiser votre mot de passe, vous recevrez le lien de réinitialisation par mail après l'avoir renseignésur la page de réinitialisation.</p>
                    </div>
                </li>
                <li>
                    <div class="container p-4 border border-primary rounded-lg">
                        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Supprimer mon compte</a>
                        <p class="mt-4">La supression de votre compte est un acte définitif. Il entraine la supression de vos données.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="affichageSetting"></div>
    </div>

    <!-- Modal de confirmation de suppression -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Êtes-vous sûr de vouloir supprimer votre compte ?</h4>
					<p>Cette action est définitive</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="{{ path('delete_account') }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
