{% extends 'layout-full-width.html.twig' %}


{% block contentFullWidth %}
<div class="member-page-container">
	<div class="general-setting">
		<ul>
			<li><a href="#">Mon abonnement</a></li>
			<li><a href="#">Changer l'adresse email</a></li>
			<li><a href="{{ path('forgotten_password') }}" >Mot de passe oublié</a></li>
			<li><a href="{{ path('delete_account') }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">Supprimer mon compte</a></li>
		</ul>
	</div>
	<div class="affichageSetting"></div>
</div>	
{% endblock %}
