{% extends 'layout-full-width.html.twig' %}


{% block contentFullWidth %}
<div class="member-page-container">
	<div class="general-setting">
		<ul>
			<li><a href="#">Mon abonnement</a></li>
			<li><a href="#">Changer l'adresse email</a></li>
			<li><a href="{{ path('reset_pass', {'token': 'userInfo.user'}) }}">Changer le mot de passe</a></li>

		</ul>
	</div>
	<div class="affichageSetting"></div>
</div>	
{% endblock %}
