{% extends 'base.html.twig' %}


{% block body %}
<div class="container mt-4">
    <h3>Découvrez toutes nos références de manga:</h3>
</div>


{% include "template-parts/serieListe.html.twig" %}




{% endblock %}
